body{
	margin: 0;
	background-color: black;
}

.logo{
 height: 40px;
 position: relative;
	left: 60px;
   float: left;
	margin-top: 20px;
}


.lamp{
	height: 300px;
	position: relative;
	left: 100px;
	margin-top:10px;
	max-height: 100%;
}

.light{
	height: 280px;
	width: 405px;
	margin-bottom: 140px;
	position: relative;
	left: 110px;
}



.nav{
	float: right;
	margin-top: 20px;
}

a{
	text-decoration: none;
	color: white;
	margin: 50px;
}

a:hover{
	color: #99ff99;
}

.words{
	color: white;
	float: right;
  position: absolute;
  right: 0;
  bottom: 0;
  top: 13%;
  left: 50%;
  width: 40%;
}

h1{
	font-size: 72px;
	
	font-family: 'Source Serif Pro', serif;
}

p{
	line-height: 25px;
	font-family: 'Merienda', cursive;
}

button{
	 background: #1aff66;
  -webkit-border-radius: 26;
  -moz-border-radius: 26;
  border-radius: 26px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 25px;
  padding: 7px 20px 8px 20px;
  text-decoration: none;
  }

button:hover{
 background: black;
}

@media only screen and (max-width: 600px){

.logo{
 height: 16px;
 position: relative;
	left: 23px;
   float: left;
	margin-top: 20px;
}

.nav{
	float: right;
	margin-top: 20px;
	font-size: 10px;
}

.lamp{
	height: 170px;
	position: relative;
	left: 36px;
	margin-top:10px;
	max-height: 100%;
}

.light{
	height: 160px;
	width: 120px;
	margin-bottom: 120px;
	position: relative;
	left: 75px;
}




a{
	text-decoration: none;
	color: white;
	margin: 16px;
}


h1{
	font-size: 38px;
	
	font-family: 'Source Serif Pro', serif;
}

p{
	line-height: 25px;
	font-family: 'Merienda', cursive;
	font-size: 12px;
}
button{
	 background: #1aff66;
  -webkit-border-radius: 22;
  -moz-border-radius: 22;
  border-radius: 22px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 15px;
  padding: 7px 20px 8px 20px;
  text-decoration: none;
  }

} 
